<div class="side-bar-root">
    <div class="side-bar">
        <p class="side-bar__tittle">Dashboard</p>
        <ul class="side-bar__list">
            <li [routerLink]="item.router" *ngFor="let item of mainMenu">
                <div class="list-wrapper-item" (click)="setModule(item.name)">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="side-bar__list list-label" [ngClass]="{'bold':currentRouter === item.name}"> {{item.name}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
