<div class="case-card">
  <div class="header">
    <div class="options">
      <ul>
        <li>
          <button class="dropdown-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openModal()" mat-menu-item>Webex Notes</button>
            <button mat-menu-item>Trace Analysis</button>
          </mat-menu>
        </li>
        <li>
          <button (click)="updateCasesMethod({state: !case.state}, case._id, case.state.toString())" class="dropdown-button" mat-icon-button>
            <mat-icon>inventory_2</mat-icon>
          </button>
        </li>
        <li>
          <button (click)="updateCasesMethod({state: !case.state}, case._id, case.state.toString())" class="dropdown-button" mat-icon-button>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="title">
      <p>{{checkName(case.tittle,case.number)}}</p>
    </div>
  </div>
  <div class="code-container">
    <textarea readonly="" name="code" id="code" class="area">Problem Description:
{{case.problem_description}}

Last Action:
{{case.last_action}}

Action Plan:
{{case.action_plan}}

    </textarea>
  </div>
</div>