.header-user-root{
    background-color: var(--color-2);
    width: var(--header-user-Width);
    height: var(--header-user-Height);
    position: relative;
    left: calc(var(--side-bar-Width) + 2 * var(--gap));
    top: var(--gap);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-user{
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.center-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-elements{
    display: flex;
    gap: 2rem;
}