.search-component input {
    border: 0;
    border-radius: 1rem;
    height: 40px;
    width: 20rem;
    padding: 0 .75rem;
    font-size: 90%;
    border: 2px solid var(--case-card-text_area-bkg);
    cursor: text;
}