.dropdown{
    position: absolute;
    top: calc(var(--header-user-Height) + 0.5 * var(--gap));
    left: calc(var(--header-user-Width) - 13.5rem);
    z-index: 6;
    background-color: var(--color-1);
    width: 11.7rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgb(73, 70, 92);
    display: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.dropdown > ul > li{
    padding: 1rem;
}
.email-close{
    display: flex;
    justify-content: space-between;
}
.uil,.uil-times-circle{
    cursor: pointer;
}
.dropdown > ul > li:hover{
    background-color: var(--case-card-bkg);
    border-radius: 1rem;
    cursor: pointer;
}
.first-li{
    display: flex;
    justify-content: space-between;
}
.first-li > .email{
    padding: 1rem;
    padding-right: 3rem;
    cursor: pointer;
}
.first-li > .close{
    padding: 1rem;
    cursor: pointer;
}
.first-li > .close:hover,.first-li > .email:hover{
    background-color: var(--case-card-bkg);
    border-radius: 1rem;
}

.visible{
    display: block;
}